<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<th:block th:each="feed : ${feeds}">
	<section>
		<h2 th:text="${feed.feed.name}"></h2>

		<th:block th:each="article : ${feed.articles}">
			<span>
				<h3 th:text="${article.title}"></h3>
				<span th:text="${article.publicationDate}"></span>
				<p th:text="${article.description}"></p>
				<a th:href="@{/articles/{articleId}(articleId=${article.id})}">Read more...</a>
			</span>
		</th:block>

		<p>
			<a th:href="@{/feeds/{feedId}(feedId=${feed.feed.id})}" th:text="'More from ' + ${feed.feed.name}"></a>
		</p>
	</section>
</th:block>

</body>
</html>
