<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<section>
	<h1 th:text="${article.title}"></h1>

	<th:block th:utext="${articleHtml}"></th:block>
</section>

</body>
</html>
