<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:text="${feed.name}"></h1>

<section th:each="article : ${articles}">
	<div>
		<h2 th:text="${article.title}"></h2>
		<span th:text="${article.publicationDate}"></span>
		<p th:text="${article.description}"></p>
		<a href="/articles" th:href="@{/articles/{articleId}(articleId=${article.id})}">Read more...</a>
	</div>
</section>

</body>
</html>
