<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<ul th:each="feed : ${feeds}">
	<li>
		<a th:href="@{/feeds(feedId=${feed.id})}" th:text="${feed.name}">Feed</a>
	</li>
</ul>

</body>
</html>
